<header>
	<div class="wrapper">
		<div class="content">
			<hgroup>
			<% @posts.each do |p| %>
				<h1><%= p.alt_title %></h1>
				<h2><%= truncate(p.description.to_s, length: 267) %></h2>
				<% end %>
			</hgroup>		
			<div class="clear"></div>				
				<div class="read-on"><a href="#about" class="btn btn-large btn-block btn-inverse">Детально</a>
				<a href="#contact" class="btn btn-large btn-block btn-danger">Звязок</a></div>
			<div class="clear"></div>
		</div>
	</div>
</header>

<a class="scroll-point" id="about"></a>

<div  class="sectiongrey">
<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>Про нас</h2>
		<div class="line"></div>
	</div>
    <div class="grid3">
		<p>
      Текст
</p>	


<p>Текст</a>.</p>



</div>
<div class="grid3">
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- On Demos -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6472538845369616"
     data-ad-slot="4764157394"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</section>
</div>

<a class="scroll-point" id="freebies"></a>
<div class="clear"></div>

<div class="sectionteal">
<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>Новини</h2>
		<div class="line"></div>
	</div>
	<div class="grid3">
		<article class="col">
			<figure><img src="img/free-html5-responsive-template.jpg" alt="free-html5-responsive-template"></figure>
			<h3>Заголовок</h3>
			<p>Created by using the latest HTML5 and CSS3 techniques, Brownie is a simple and clean Free Responsive HTML5 portfolio and business website template.
</p>
					</article>
		
		
	</div>
    <div class="clear"></div>
    <div class="grid3">

	</div>
</section>
</div>
<a class="scroll-point" id="clients"></a>
<div class="clear"></div>

<div class="sectiongrey">
<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>Наші партнери</h2>
		<div class="line"></div>
	</div>
	<div class="clear"></div>
	<h3 class="sectionh3">Партнери які співрацюють з нами. <br/> Але ми відкриті для нових партнерів і проектів.</h3>
	<div id="slide-wrapper">
		<ul class="testimonials">
			<li class="col"><figure><img src="img/clients/computerhistory.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/discoverychannel.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/dockers.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/firefox.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/google.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/levis.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/seagate.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/wynn.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/zipcar.png" alt=""></figure></li>
			
		</ul>
	</div>
	<div class="pagination" id="foo2_pag"></div>
</section>
</div>

<a class="scroll-point" id="contact"></a>
<div class="clear"></div>